body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  .container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  
  .form-content {
    display: flex;
    align-items: center;
  }
  
  .form-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
  }
  
  .block:last-child {
    border-bottom: none;
  }
  
  input[type='checkbox'] {
    margin-right: 10px;
  }
  
  .todo-number {
    text-align: center;
    margin-top: 10px;
  }
  